<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invoice</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Bangla:ital@0;1&display=swap');

    @font-face {
      font-family: "Tiro Bangla", serif;
      src:
        url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
      ;
    }

    @font-face {
      font-family: "Roboto", sans-serif;
      src:
        url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      format('truetype');
    }

    body {
      margin: 1in;
      font-family: "Roboto", sans-serif;
      padding: 0;
      font-size: 16px;
      box-sizing: border-box;
    }

    .invoice {
      margin: auto;
      padding: 10px;
      border:
        1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }

    .header {
      text-align: center;
      margin-bottom: 10px;
    }

    .header h2 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: center;
    }

    .customer-info {
      margin-bottom: 10px;
    }

    .customer-info h3 {
      margin-bottom: 2px;
      font-size:
        18px;
    }

    .customer-info p {
      margin-bottom: 1px;
      font-size: 16px;
    }

    .company-info p {
      font-size: 16px;
    }

    .products {
      margin-bottom: 10px;
    }

    .products table {
      width: 100%;
      border-collapse: collapse;
      font-size: 16px;
    }

    th,
    td {
      border-bottom: 1px solid #ccc;
      padding: 4px;
      text-align: left;
    }

    .footer {
      text-align: right;
    }

    .text-right {
      text-align: right;
    }

    .header-info {
      display: flex;
      justify-content: space-between;
      align-items:
        start;
    }

    .products td.bengali {
      font-family: "Tiro Bangla", serif;
    }
.bengali {
      font-family: "Tiro Bangla", serif;
    }
    .products td.english {
      font-family: "Roboto", sans-serif;
    }
    .english {
      font-family: "Roboto", sans-serif;
    }
  </style>
</head>

<body>
  <div class="invoice">

    <div class="header-info">

      <div class="customer-info">
        <p  class="{{isBengali customerName}}" ><strong>Customer Name:</strong> {{customerName}}</p>
        <p  class="{{isBengali address}}" ><strong>Address:</strong> {{address}}</p>
        <p  class="{{isBengali phone}}" ><strong>Phone:</strong> {{phone}}</p>

      </div>
      {{! name of company }}
      <div class="company-info">
        <p class=""> <strong>powered by:</strong> JanGoSoftLtd. </p>
        <p class=""> <strong> Mobile:</strong> 01629888934 </p>
      </div>
      {{! name of company }}
    </div>
    <div class="header">
      <h2>Invoice</h2>
    </div>
    <div class="products">
      <table>
        <thead>
          <tr>
            <th>#SL</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{incrementedIndex @index}}</td>
            <td class="{{isBengali productName}}">{{productName}}</td>
            <td  class="{{isBengali quantity}}" >{{quantity}} {{unit}} </td>
            <td class="{{isBengali sellingPrice}} text-right">{{sellingPrice}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="footer">
      <p class="{{isBengali totalPrice}}" ><strong>Total Price of Products:</strong> {{totalPrice}}</p>
      <p class="{{isBengali beforeDue}}"><strong>Before Due:</strong> {{beforeDue}}</p>
      <p class="{{isBengali nowPaying}}"><strong>Now Paying:</strong> {{nowPaying}}</p>
      <p class="{{isBengali remainingDue}}"><strong>Remaining Due:</strong> {{remainingDue}}</p>
    </div>
  </div>
</body>

</html>