<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invoice</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Bangla:ital@0;1&display=swap');

    @font-face {
      font-family: "Tiro Bangla", serif;
      src:
        url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
      ;
    }

    @font-face {
      font-family: "Roboto", sans-serif;
      src:
        url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      format('truetype');
    }

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
    body {
      padding: 1in;
      font-family: "Roboto",
        sans-serif;
      font-size: 18px;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      background-color: transparent;
    }

    .yellow-top{
     
      width: 150%;
      height: 30rem;
      background-color: #F8CA41;
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: -25rem;
      transform: rotate(25deg) translateY(-70%);
      z-index: -66;
    }
    .yellow-bottom{
     
      width: 150%;
      height: 30rem;
      background-color: #F8CA41;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: -25rem;
      transform: rotate(25deg) translateY(70%);
      z-index: -66;
    }
    .black-top{
    
      width: 150%;
      height: 4rem;
      background-color: #000000;
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: -5rem;
      transform: rotate(25deg) translateY(50%) translateX(10%) ;
      z-index: -66;
    }
    .black-bottom{
    
      width: 150%;
      height: 4rem;
      background-color: #000000;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: -2rem;
      transform: rotate(25deg) translateY(-50%) translateX(-20%) ;
      z-index: -66;
    }

    .invoice {
      margin: auto;
      padding: 2.5rem;
      border: 1px solid #ccc;
      border-radius: 15px;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
    }

    .header {
      text-align: center;
      margin-bottom: 10px;
    }

    .header h2 {
      margin:0;
      padding: 0;
      font-size: 2rem;
      text-align: center;
    }

    .customer-info {
      margin-bottom: 10px;
    }

    .customer-info h3 {
      margin-bottom: 2px;
      font-size:
        24px;
    }

    .customer-info p {
      margin-bottom: 1px;
      font-size: 18px;
    }

    .company-info p {
      font-size: 18px;
    }

    .products {
      margin-bottom: 16px;
    }

    .products table {
      width: 100%;
      border-collapse: collapse;
      font-size: 18px;
    }

    th,
    td {
      border-bottom: 1px solid #ccc;
      padding: 6px;
      text-align: left;
    }

    .footer {
      text-align: right;
    }

    .text-right {
      text-align: right;
    }

    .header-info {
      display: flex;
      justify-content: space-between;
      align-items:
        start;
    }

    .products td.bengali {
      font-family: "Tiro Bangla", serif;
    }

    .bengali {
      font-family: "Tiro Bangla", serif;
    }

    .products td.english {
      font-family: "Roboto", sans-serif;
    }

    .english {
      font-family: "Roboto",
        sans-serif;
    }
  </style>
</head>

<body>
<div class="yellow-top"></div>
<div class="black-top"></div>
<div class="black-bottom"></div>
<div class="yellow-bottom"></div>
  <div class="invoice">
    <div class="header-info">

      <div class="customer-info">
        <p><strong class="bengali">গ্রাহকের নাম:</strong>
          <span class="{{isBengali customerName}}">
            {{customerName}}</span>
        </p>
        <p><strong class="bengali">ঠিকাণা: </strong>
          <span class="{{isBengali address}}"> {{address}}</span>
        </p>
        <p><strong class="bengali">মোবাইল নং:</strong>
          <span class="{{isBengali phone}}">{{phone}}</span>
        </p>

      </div>
      {{! name of company }}
      <div class="company-info">
        <p class=""> <strong>নাম:</strong> {{shopOwnerName}}. </p>
        <p class=""> <strong> মোবাইল নং</strong> {{shopOwnerPhone}} </p>
      </div>
      {{! name of company }}
    </div>
    <div class="header">
      <h2 class="bengali">পণ্য তালিকা</h2>
    </div>
    <div class="products">
      <table>
        <thead>
          <tr class="bengali">
            <th>#নং</th>
            <th>নাম</th>
            <th>পরিমাণ</th>
            <th>মূল্য</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{incrementedIndex @index}}</td>
            <td class="{{isBengali productName}}">{{productName}}</td>
            <td class="{{isBengali quantity}}">{{quantity}}
              <span class="{{isBengali unit}}">{{unit}}</span>
            </td>
            <td class="{{isBengali totalProductPrice}} text-right">{{totalProductPrice}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="footer">
      <p><strong class="bengali">মোট পণ্য ক্রয়:</strong> {{totalPrice}}</p>
      <p><strong class="bengali"> আগের বকেয়া:</strong>
        <span class="{{isBengali totalPrice}}"> {{beforeDue}}</span>
      </p>
      <p><strong class="bengali">পরিশোধ:</strong><span class="{{isBengali totalPrice}}">{{nowPaying}}</span>
      </p>
      <p><strong class="bengali">বকেয়া আছে:</strong><span class="{{isBengali totalPrice}}"> {{remainingDue}}</span></p>
    </div>
  </div>
</body>

</html>