<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <style>
        body {
            
            margin: 1in;
            padding: 0;
            font-size: 16px;
            box-sizing: border-box;
        }

        .invoice {
            
            margin: auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius:
                5px;
            background-color: #fff;
        }

        .header {
            text-align: center;
            margin-bottom: 10px;
        }

        .header h2 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-align: center;
        }

        .customer-info {
            margin-bottom: 10px;
        }

        .customer-info h3 {
            margin-bottom: 2px;
            font-size: 18px;
        }

        .customer-info p {
            margin-bottom: 1px;
            font-size: 16px;
        }

        .company-info p {
            font-size: 16px;
        }

        .products {
            margin-bottom: 10px;
        }

        .products table {
            width: 100%;
            border-collapse: collapse;
                font-size: 16px;
        }

       th,
         td {
            border-bottom: 1px solid #ccc;
            padding: 4px;
            text-align: left;
        }

        .footer {
            text-align: right;
        }

        .text-right {
            text-align: right;
        }

        .header-info {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    </style>
</head>

<body>
    <div class="invoice">

        <div class="header-info">

            <div class="customer-info">
                <p><strong>Customer Name:</strong> {{customerName}}</p>
                <p><strong>Address:</strong> {{address}}</p>
                <p><strong>Phone:</strong> {{phone}}</p>

            </div>
            {{! name of company }}
            <div class="company-info">
                <p class=""> <strong>powered by:</strong> JanGoSoftLtd. </p>
                <p class=""> <strong> Mobile:</strong> 01629888934 </p>
            </div>
            {{! name of company }}
        </div>
        <div class="header">
            <h2>Invoice</h2>
        </div>
        <div class="products">
            <table>
                <thead>
                    <tr>
                        <th>#SL</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{incrementedIndex @index}}</td>
                        <td>{{productName}}</td>
                        <td>{{quantity}}</td>
                        <td class="text-right" >{{sellingPrice}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="footer">
            <p><strong>Total Price of Products:</strong> {{totalPrice}}</p>
            <p><strong>Before Due:</strong> {{beforeDue}}</p>
            <p><strong>Now Paying:</strong> {{nowPaying}}</p>
            <p><strong>Remaining Due:</strong> {{remainingDue}}</p>
        </div>
    </div>
</body>

</html>